	.card-header{
				background-image: url('../images/bg3.jpg') !important;
				padding: 0 !important;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				height: 150px;
				position: relative;
				display: flex;
				justify-content: center;
				text-align:center;
			}
			.card{
				overflow: hidden;
				border:0 !important;
				width: 300px;
				box-shadow: 0px 0px 15px 1px;
				-webkit-box-shadow:0px 0px 15px 1px;
			}
			.profile_pic{
				position: absolute;
				bottom: -50px;
				height: 112px;
				width: 112px;
				padding: 5px;
				border: 2px solid #f39c12;
				border-radius: 50%;
			}
			.card-body{
				padding-top: 55px !important;
			}
			.profile_pic img{
				height: 100px;
				width: 100px;
				border-radius: 50%;
			}
			.name_container{
				display: flex;
				justify-content: center;
			
			}
			.name{
				font-size: 20px;
				font-weight: 700;
				color: gray;
				position: relative;
			}
			.name::after{
				font-family: "Font Awesome 5 Free";
				content: '\f058';
				position: absolute;
				right: -15px;
				top:0;
				font-size: 15px;
				font-weight: 700;
				color: #4CAF50;
			}
			.address{
				display: flex;
				justify-content: center;
				font-size: 12px;
				color: gray;
			}
			.follow{
				padding-top: 20px;
				display: flex;
				justify-content: center;
			}
			.follow_btn{
				background: #2196F3;
				padding: 7px;
				color: #fff;
				border-radius: 12px;
				cursor: pointer;
			}

			.follow_btn::before{
				font-family: "Font Awesome 5 Free";
				content: "\f234";
				font-weight: 600;
				margin-right: 5px;
			


			}
			.follow_btn:hover{
				background: #f39c12;
			}
			.info_container{
				padding-top: 20px;
				display: flex;
				justify-content: space-around;
				flex-direction: row;
			}
			.info{
				display: flex;
				flex-direction: column;
			}
			.info p:first-child{
				margin-bottom: 0;
				font-size: 12px;
				color: gray;
				text-transform: uppercase;
				text-align: center;
			}
			.info p:last-child{
				margin-bottom: 0;
				font-size: 20px;
				font-weight: 700;
				color: gray;
				text-transform: uppercase;
				text-align: center;
			}
			.card-footer{
				padding: 0 !important;
				background: #fff !important;
				display: flex;
				border-top: 0 !important;
			}
			.message{
				display: flex;
				justify-content: center;
				padding: 10px;
				width: 50%;
				text-transform: uppercase;
				background: #f39c12;
				color: #fff;
				cursor: pointer;
				border-bottom-right-radius: calc(0.25rem - 1px);
			}

			.message::before{
				font-family: "Font Awesome 5 Free";
				content: "\f27a";
				font-weight: 600;
				margin-right: 5px;
			}
		.view_profile{
				display: flex;
				justify-content: center;
				padding: 10px;
				width: 50%;
				text-transform: uppercase;
				background: #e74c3c;
				color: #fff;
				cursor: pointer;
				border-bottom-left-radius: calc(0.25rem - 1px);
				
			}
			.view_profile::before{
				font-family: "Font Awesome 5 Free";
				content: "\f406";
				margin-right: 5px;
				font-weight: 600;
			}